body {
    width: 90%;
    height: 90%;
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
    border: 0px solid black;
    background: linear-gradient(to right, blue 0%, rgb(74, 74, 240) 25%, rgb(100, 100, 245) 50%, rgb(150, 150, 235) 75%, rgb(183, 183, 223) 100%);
}